@layer base, type, layout;

@layer base {
  :root {
    --bodytext: #f5eedc;
    --bgcolor: #131313;
    --offgrey: #c9c9c9;
    --titlecolor: rgb(228 228 231);

    --containergradient: linear-gradient(0deg,
        rgba(54, 54, 54, 0.5) 0%,
        rgba(28, 28, 28, 0.5) 100%);

    --containergradienthover: linear-gradient(0deg,
        rgba(78, 78, 78, 0.5) 0%,
        rgba(41, 41, 41, 0.5) 100%);
    --bordercolor: rgba(255, 255, 255, 0.5);
  }

  @view-transition {
    navigation: auto;
  }

  html {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: var(--bgcolor);
  }
}

@layer type {

  body,
  p,
  b,
  small {
    font-family: "Inter", sans-serif;
  }

  b {
    font-size: 1.25rem;
    color: var(--titlecolor);
  }

  p {
    max-width: 768px;
  }

  p, small,
  ul li {
    color: var(--offgrey);
    font-family: "Inter", sans-serif;

    font-size: 1rem;
    line-height: 1.75;
  }

  a {
    align-items: center;
    gap: 1rem;
    display: flex;
    color: var(--bodytext);
    text-decoration: none;
    font-family: "Inter", sans-serif;
  }

  h1 {
    /* opacity: 0; */
    font-size: 5rem;
    line-height: 1;
    /* margin: 1em; */
    max-width: 768px;
    /* letter-spacing: -2%; */
    color: var(--titlecolor);
    font-family: "Inter", sans-serif;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
  }

  h2 {
    font-size: 7rem;
    font-weight: 700;
    margin: 0;

    text-align: center;
    letter-spacing: -2%;
    color: var(--titlecolor);
    font-family: "Inter", sans-serif;
  }

  h3,
  summary {
    font-size: 1.75rem;
    color: var(--titlecolor);
    font-family: "Inter", sans-serif;
  }

  summary {
    padding: 1em;
  }

  summary:hover {
    cursor: pointer;
  }

  details {
    max-width: 1024px;

    margin: 1em auto;
    /* padding: 4em; */
  }

  details p, details>b {
    /* max-width: 768px; */
    margin: 1rem auto;

  }

  details>b {
    max-width: 768px;
    padding-left: 3.5rem;
  }


  .hero h3 {
    margin-bottom: 0;
  }

  ::marker {
    color: var(--titlecolor);
  }

  .blogs-container {
    box-sizing: border-box;
  }

  .blogs-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-decoration: none;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 1em; */
    list-style: none;
    padding: 0;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 8em;
  }

  .blogs-container ul li {
    transition: 1s ease;

    position: relative;
    /* margin-inline: 1em; */
    /* padding: 1em; */
    width: inherit;
    border-radius: 1em;
    margin: auto;
  }

  .blogs-container img {
    width: 200px;
    max-width: 200px;
    /* max-width: 100px; */
    height: 200px;
    object-fit: cover;
  }

  .blogs-container p {
    margin: 0.2rem;
  }

  .blogs-container a {
    width: fit-content;
    /* max-width: max-content; */
    text-align: center;
    padding: 2em;
    margin: 1em;
    grid-gap: 1em;
    /* max-width: 234px; */
    /* border-radius: 0.5em; */
    flex-direction: column;

    border: 1px solid var(--bordercolor);
    border-radius: 1em;
    background-image: var(--containergradient);
  }

  .blogs-container a:hover {
    transition: 0.5s ease;
    background-image: var(--containergradienthover);
    transform: scale(1.1);
  }

  /* ul li::marker {
    content: "▶ ";
    color: var(--accent);
  } */

  small {
    padding: 1em;
    font-family: sans-serif;

    font-size: 1em;
  }

  @media screen and (max-width:768px) {
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      padding-top: 1em;
      text-align: left;
      font-size: 2rem;

    }

    details>b {
      padding-left: 0em;
    }
  }
}

@layer layout {
  main {
    margin: auto;
    /* max-width: 1024px; */
    padding: 2em 2em 2em 2em;
  }

  html {
    width: 100%;
    padding: 0;
  }

  body {
    overflow-x: hidden;
    box-sizing: border-box;
    color: var(--bgcolor);
  }

  img {
    max-width: 768px;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }



  ul.tools {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    img {
      border-radius: 1em;
      transition: 0.3s ease;

      max-width: 3rem;
      max-height: 3rem;
      padding: 1em;
    }

    ul.tools li {
      display: flex;
    }

  }

  ul.tools img:hover {
    transition: 0.3s ease;
    rotate: 15deg;
    scale: 1.1;
  }

  section {
    margin: auto;
    /* max-width: 1024px; */
    /* width: 80vw; */
  }


  section.hero>img {
    max-width: 300px;
  }


  section.projects {
    /* height: 100vw; */
    /* overflow: hidden; */
    position: relative;
  }

  section.projects h2 {
    /* position: sticky; */
    /* top: 1em; */
  }

  ul.scroll-track {
    /* position: sticky; */
    /* top: 20%; */
    box-sizing: border-box;
    display: flex;
    width: fit-content;
    padding-right: 100%;
    gap: 2em;
  }

  .scroll-track li {
    margin: auto;
    width: 640px;
    flex-shrink: 0;
    /* spacing */
    list-style: none;
  }

  .scroll-track li>article {
    display: block;
    padding: 0 0 2em 0;
    width: 100%;
    height: max-content;
    text-align: center;
    border: 1px solid var(--bordercolor);
    border-radius: 1em;
    background-image: var(--containergradient);
    text-decoration: none;
    color: inherit;
  }

  section.hero {
    /* min-width: 768px; */
    max-width: 1024px;
    margin: 4em auto;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 2em;
  }

  section.projects ul a:hover {
    transition: 1s ease;
    background-image: var(--containergradienthover);
  }

  section.projects ul>li>a {
    margin: 1em;
    /* height: 80vh; */
    text-align: center;
    /* padding: 2em; */
    border: 1px solid var(--bordercolor);
    border-radius: 1em;
    background-image: var(--containergradient);

    text-decoration: none;
    list-style: none;
  }

  section.projects article>img {
    aspect-ratio: 2/1;
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    /* max-width: 500px; */
  }

  details {
    border: 1px solid var(--bordercolor);
    border-radius: 1em;
    background-image: var(--containergradient);
    padding: 1em;
  }

  .label {
    margin: auto;
    color: var(--titlecolor);
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    border-radius: 0.5em;
    padding: 1em 1.5em 1em 1.5em;
    border: 1px solid var(--bordercolor);
    background-color: hsla(0, 0%, 0%, 0.8);
    backdrop-filter: blur(1em);
    z-index: 3;
  }

  .button-wrapper {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  .button {
    gap: 0.5em;
    width: 10em;
    text-align: center;

    padding: 0.5em 1em 0.5em 1em;
    border-radius: 2em;

    /* width: max-content; */
    border: 1px solid var(--bordercolor);
    justify-content: center;
  }

  img.icon {
    gap: 1em;
    aspect-ratio: unset;
    width: 1em;
    height: 1em;
    max-width: 2em;
    max-height: 2em;
  }

  .github-logo {
    filter: invert(1);
  }

  section.nav-weekly {

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      list-style: none;
      padding-left: 0;
    }

    ul li {
      border-radius: 4em;
      border: 1px solid var(--bordercolor);
    }

    a {
      padding: 1em;
    }
  }

  @media screen and (max-width:768px) {
    section.hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .blogs-container ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      /* grid-template-columns: 1fr 1fr; */
    }

    .scroll-track li {
      width: 400px;
    }

    div.button-wrapper {
      display: flex;
      flex-direction: column;
      justify-self: center;
    }
  }
}