@layer base, type, layout;

@layer base {
  :root {
    --bodytext: #f5eedc;
    --bgcolor: #0d0d0d;
    --offgrey: #ddd4bc;
  }

  body {
    background-color: var(--bgcolor);
  }
}

@layer type {
  @keyframes hero-title-ani {
    0% {
      font-family: cheee-variable, sans-serif;
      font-variation-settings: "GRVT"250, "YEST"800;
    }

    100% {
      font-family: cheee-variable, sans-serif;
      font-variation-settings: "GRVT"750, "YEST"800;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    transition: 1s ease;
    font-family: cheee-variable, sans-serif;
    font-variation-settings: "GRVT"250, "YEST"1000;

    color: var(--bodytext);
  }

  p,
  ul li {
    color: var(--bodytext);
    font-family: sans-serif;

    font-size: 1.25em;
    line-height: 1.33;
  }

  a {

    margin: auto;
    width: fit-content;
    padding: 1em;
    /* border: 1px solid var(--bodytext); */
    display: flex;
    /* gap: 0.5em; */
    /* font-size: clamp(1rem, 2.5vw, 6rem); */
    color: var(--bodytext);
    font-family: sans-serif;
  }

  h1 {
    font-size: clamp(1rem, 8.5vw, 9rem);
    line-height: 0.75;
    letter-spacing: 4px;
    text-align: center;
    /* animation: hero-title-ani 1s ease infinite alternate; */

  }

  h1>span {
    animation: hero-title-ani 3s ease infinite alternate;

  }

  h2 {
    /* font-size: 7.594rem; */
    font-size: clamp(1rem, 4.5vw, 7.594rem);

  }

  h3 {
    font-size: 5.063rem;
  }

  .blogs-container {
    box-sizing: border-box;
  }

  .blogs-container ul {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    list-style: none;
    padding: 0;
  }

  .blogs-container ul li {
    padding: 2em 1em 2em 1em;
    border-radius: 0.5em;
    border: 1px solid var(--bodytext);
  }

  /* ul li::marker {
    content: "▶ ";
    color: var(--accent);
  } */

  small {
    font-family: sans-serif;

    font-size: 1em;
  }

  .hero-title {
    word-wrap: break-word;
    word-break: break-all;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
    box-sizing: border-box;
    margin: 0.5em;
    padding: 4em;
    border: 1px solid var(--bodytext);
    border-radius: 0.5em;
  }

  .hero-title h1:hover {
    font-variation-settings: "GRVT"250, "YEST"800;
  }

  .hero-title>h1 {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

@layer layout {
  img {
    max-width: 80vw;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  section {
    margin: auto;
    max-width: 1600px;
    width: 80vw;
  }
}